    
   <!-- Navigation -->
   <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
     <div class="container">
      	<a class="navbar-brand" href="/">
    		<img src="/assets/img/main-logo-small.png" width="30" height="30" alt="">
		</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarResponsive">
         <ul class="navbar-nav ml-auto">
           <li class="nav-item active">
             <a class="nav-link" href="/">Home
               <span class="sr-only">(current)</span>
             </a>
           </li>

	        <!-- Auto Generation of NORMAL pages in the navbar -->
	        {% assign name_page = "" %}
	        
	        {% for page in site.pages %}
	        {% if page.title and page.hide != true %}
	        {% if name_page contains page.title %}
	        {% else %}
	        <li class="separator"> | </li>
	        <li class="nav-item">
	            <a class="nav-link" href="{{ page.url | relative_url }}">
	                {{ page.title }}
	            </a>
	        </li>
	        {% endif %}
	        {% assign name_page = page.title | append: name_page %}
	        {% endif %}
	        {% endfor %} 
	        
         </ul>
       </div>
     </div>
   </nav>
    
        
